<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/styleSituacao.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="toggle-container">
        <button id="toggleMode" class="toggle-btn">
            🌙
        </button>
    </div>

    <div class="container">
        <h1>Inscrição em Andamento 🕦</h1>
        <br>
        <p>
            Agora estamos analisando suas informações.<br><br>
            Em breve você receberá um email com a confirmação de sua inscrição.<br><br>
            Obrigado por confiar em nosso processo seletivo!
        </p>
        <button type="button" class="btn-sign"><a class="footer-text" th:href="@{/login}">Voltar</a></button>
    </div>

    <script>
        const toggleButton = document.getElementById('toggleMode');
        const body = document.body;
    
        if (localStorage.getItem('theme') === 'dark') {
            body.classList.add('dark-mode');
            toggleButton.textContent = '☀️';
        } else {
            toggleButton.textContent = '🌙';
        }
    
        toggleButton.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
            if (body.classList.contains('dark-mode')) {
                localStorage.setItem('theme', 'dark');
                toggleButton.textContent = '☀️';
            } else {
                localStorage.setItem('theme', 'light');
                toggleButton.textContent = '🌙';
            }
        });
    </script>
</body>
</html>